@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* LOGIN AND SIGNUP COMPONENTS */

* {
  box-sizing: border-box;
}
body {
  background: #1c8ef9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.auth-wrapper {
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
  flex-grow: 50;
}
.auth-inner {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

.file {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.file-name {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 5; */
  border: 1px solid #d4d4d4;
}
.file-size {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
  border: 1px solid #d4d4d4;
}
.file-created {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 2; */
  border: 1px solid #d4d4d4;
}
.file-actions {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 3; */
  border: 1px solid #d4d4d4;
}
.file-table {
  width: 85%;
  background: #ffffff;
  border-radius: 15px;
  transition: all 0.3s;
  margin: 0.4em auto;
  padding: 1em;
  display: flexbox;
}
.table-h {
  font-weight: bold;
  font-size: large;
}
.icon {
  font-size: "2em";
  border: "1px solid #d4d4d4";
  padding: "3px";
}
.upload-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #007bff;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 35px;
  /* cursor: pointer; */
  margin: 0 auto;
  /* display: flexbox;
  justify-content: center;
  align-items: center; */
}
.dropdown-toggle::after {
  display: none !important;
}
